@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
}

.embla {
  overflow: hidden;
  width: 100%;
  height: 80vh;
}

.embla__viewport {
  width: 100%;
  height: 100%;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 100%;
  position: relative;
}


.hover-BTN {
  opacity: 0;
  transition: 0.5s;
}
.cardBox:hover .hover-BTN {
  opacity: 1;
  transition: 0.4s ease-in-out;
}
